# Upstash Redis (obtido via Vercel Marketplace)
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Senha do admin (opcional - será definida no primeiro login se não informada)
ADMIN_PASSWORD=galego123

# URL da aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3001
